/* Reset dasar */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Gaya umum */
body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 20px;
}

/* Header */
header {
    background-image: url(images/background.jpg);
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Main Content */
main {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Article */
article {
    flex: 3;
    background: #fff;
    padding: 20px;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    background: #5cb85c;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background: #4cae4c;
}

/* Aside */
aside {
    flex: 1;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Footer */
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background: #333;
    color: #fff;
    position: relative;
}
